@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .custom-range {
    @apply absolute w-full appearance-none;

    &::-webkit-slider-thumb {
      @apply appearance-none w-7 h-7 bg-white rounded-full pointer-events-auto mt-[-10px];
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    }

    &::-moz-range-thumb {
      @apply w-7 h-7 bg-white border border-black rounded-full pointer-events-auto mt-[-8px];
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    }
  }
}
